ui.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="offset">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" default="default"></xs:attribute>
			<xs:attribute name="offset" type="vector2" default="0 0"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="offsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="offset" maxOccurs="unbounded" minOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="nine-patch">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element ref="offsets" minOccurs="1" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
				<xs:attribute name="gfx" type="xs:string" default=""></xs:attribute>
				<xs:attribute name="width" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="height" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="top" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="bottom" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="left" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="right" type="xs:float" default="0"></xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="state">
		<xs:complexType>
			<xs:attribute name="offsetX" type="xs:float" default="0.0"></xs:attribute>
			<xs:attribute name="offsetY" type="xs:float" default="0.0"></xs:attribute>
			<xs:attribute name="alpha" type="xs:float" default="1.0"></xs:attribute>
			<xs:attribute name="scaleX" type="xs:float" default="1.0"></xs:attribute>
			<xs:attribute name="scaleY" type="xs:float" default="1.0"></xs:attribute>
			<xs:attribute name="angle" type="xs:float" default="0.0"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="transition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="state" minOccurs="1"></xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" default="DEFAULT"></xs:attribute>
			<xs:attribute name="time" type="xs:float" default="0.5"></xs:attribute>
			<xs:attribute name="key-spline" type="key-spline" default="ease"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="transitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transition" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="hook">
		<xs:all>
			<xs:element ref="transitions" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element ref="state" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:all>
		<xs:attribute name="z-index" type="xs:integer" default="0"></xs:attribute>
		<xs:attribute name="local-alpha" type="xs:float" default="1"></xs:attribute>
		<xs:attribute name="pos" type="vector2" default="0 0"></xs:attribute>
		<xs:attribute name="size" type="vector2" default="1 1"></xs:attribute>
		<xs:attribute name="pivot" type="vector2" default="0 0"></xs:attribute>
		<xs:attribute name="scroll" type="vector2" default="0 0"></xs:attribute>
		<xs:attribute name="align" type="align" default="top left"></xs:attribute>
		<xs:attribute name="clip" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="screen-blocking" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="pause-gui" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="base">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="hook" type="hook" minOccurs="0" maxOccurs="1"></xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded"></xs:any>
				</xs:sequence>
				<xs:attribute name="id" type="id-name" use="optional"></xs:attribute>
				<xs:attribute name="class" type="class-names" use="optional"></xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="text">
		<xs:complexContent>
			<xs:extension base="base">
				<xs:attribute name="label" type="xs:string" default=""></xs:attribute>
				<xs:attribute name="bleep-delay" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="beep-sound" type="xs:string" default=""></xs:attribute>
				<xs:attribute name="font" type="xs:string" default="media/font/hall-fetica-bold.png"></xs:attribute>
				<xs:attribute name="speed" type="text-speed" default="immediate"></xs:attribute>
				<xs:attribute name="align" type="text-align" default="left"></xs:attribute>
				<xs:attribute name="maxWidth" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="bestRatio" type="xs:float" default="0"></xs:attribute>
				<xs:attribute name="linePadding" type="xs:float" default="1"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="box">
		<xs:complexContent>
			<xs:extension base="base">
				<xs:sequence>
					<xs:element name="nine-patch" type="nine-patch" minOccurs="0"></xs:element>
				</xs:sequence>
				<xs:attribute name="gfx" type="xs:string"></xs:attribute>
				<xs:attribute name="flipped" type="xs:boolean"></xs:attribute>
				<xs:attribute name="flipped-y" type="xs:boolean"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="regular-box">
		<xs:complexContent>
			<xs:extension base="box">
				<xs:attribute name="padding" type="vector2" default="8 4"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="white-line-box">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="arrow-box">
		<xs:complexContent>
			<xs:extension base="box">
				<xs:attribute name="padding" type="vector2" default="8 4"></xs:attribute>
				<xs:attribute name="pointer-type" type="pointer" default="none"></xs:attribute>
				<xs:attribute name="padding-pointer" type="xs:float" default="8"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="line">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="black-gray-box">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="black-white-box">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="small-black-box">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="side-border-box">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="side-box">
		<xs:complexContent>
			<xs:extension base="base">
				<xs:sequence>
					<xs:any></xs:any>
				</xs:sequence>
				<xs:attribute name="right" type="xs:boolean" default="false"></xs:attribute>
				<xs:attribute name="title-text" type="xs:string" default=""></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="slick-box-raw">
		<xs:complexContent>
			<xs:extension base="box"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="slick-box">
		<xs:complexContent>
			<xs:extension base="slick-box-raw">
				<xs:attribute name="padding" type="vector2" default="0 0"></xs:attribute>
				<xs:attribute name="min-width" type="xs:float" default="0"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="center-box">
		<xs:complexContent>
			<xs:extension base="base">
				<xs:sequence>
					<xs:element name="msg-content" type="base"></xs:element>
					<xs:element name="center-box" type="black-white-box"></xs:element>
					<xs:element name="border-left" type="side-border-box"></xs:element>
					<xs:element name="border-right" type="side-border-box"></xs:element>
				</xs:sequence>
				<xs:attribute name="icon-gfx" type="xs:string" default="media/gui/message.png"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="menu-panel">
		<xs:complexContent>
			<xs:extension base="box">
				<xs:attribute name="type" type="menu-panel-type"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="header-menu-panel">
		<xs:complexContent>
			<xs:extension base="menu-panel">
				<xs:sequence>
					<xs:element name="title" type="text"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="pattern">
		<xs:attribute name="source-x" type="xs:float"></xs:attribute>
		<xs:attribute name="source-y" type="xs:float"></xs:attribute>
		<xs:attribute name="width" type="xs:float"></xs:attribute>
		<xs:attribute name="height" type="xs:float"></xs:attribute>
		<xs:attribute name="repeat" type="pattern-repeat"></xs:attribute>
		<xs:attribute name="gfx" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="button-highlight">
		<xs:sequence>
			<xs:element name="pattern" type="pattern"></xs:element>
		</xs:sequence>
		<xs:attribute name="start-x" type="xs:float"></xs:attribute>
		<xs:attribute name="end-x" type="xs:float"></xs:attribute>
		<xs:attribute name="left-width" type="xs:float"></xs:attribute>
		<xs:attribute name="right-width" type="xs:float"></xs:attribute>
		<xs:attribute name="offset-y" type="xs:float"></xs:attribute>
		<xs:attribute name="gfx" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="custom-button-type">
		<xs:sequence>
			<xs:element name="nine-patch" type="nine-patch"></xs:element>
			<xs:element name="button-highlight"></xs:element>
		</xs:sequence>
		<xs:attribute name="height" type="xs:float" default="21"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="button">
		<xs:complexContent>
			<xs:extension base="focus-gui">
				<xs:sequence>
					<xs:element name="text" type="text" minOccurs="0"></xs:element>
					<xs:element name="custom-button-type" type="custom-button-type" minOccurs="0"></xs:element>
				</xs:sequence>
				<xs:attribute name="button-width" type="xs:float"></xs:attribute>
				<xs:attribute name="active" type="xs:boolean"></xs:attribute>
				<xs:attribute name="button-type" type="button-type" default="default"></xs:attribute>
				<xs:attribute name="submit-sound" type="xs:string"></xs:attribute>
				<xs:attribute name="keep-pressed" type="xs:boolean"></xs:attribute>
				<xs:attribute name="blocked-sound" type="xs:string"></xs:attribute>
				<xs:attribute name="label" type="xs:string"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="focus-gui">
		<xs:complexContent>
			<xs:extension base="base">
				<xs:attribute name="button-group" type="xs:string" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="button-group">
		<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
		<xs:attribute name="no-sound" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="select-type" type="select-type" default="all"></xs:attribute>
		<xs:attribute name="loop-buttons" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:element name="hook" type="hook"></xs:element>
	<xs:element name="base" type="base"></xs:element>
	<xs:element name="text" type="text"></xs:element>
	<xs:element name="box" type="box"></xs:element>
	<xs:element name="regular-box" type="regular-box"></xs:element>
	<xs:element name="white-line-box" type="white-line-box"></xs:element>
	<xs:element name="arrow-box" type="arrow-box"></xs:element>
	<xs:element name="line" type="line"></xs:element>
	<xs:element name="black-gray-box" type="black-gray-box"></xs:element>
	<xs:element name="black-white-box" type="black-white-box"></xs:element>
	<xs:element name="small-black-box" type="small-black-box"></xs:element>
	<xs:element name="side-border-box" type="side-border-box"></xs:element>
	<xs:element name="side-box" type="side-box"></xs:element>
	<xs:element name="slick-box-raw" type="slick-box-raw"></xs:element>
	<xs:element name="slick-box" type="slick-box"></xs:element>
	<xs:element name="center-box" type="center-box"></xs:element>
	<xs:element name="menu-panel" type="menu-panel"></xs:element>
	<xs:element name="header-menu-panel" type="header-menu-panel"></xs:element>
	<xs:element name="button" type="button"></xs:element>
	<xs:element name="button-highlight" type="button-highlight"></xs:element>
	<xs:element name="custom-button-type" type="custom-button-type"></xs:element>
	<xs:element name="nine-patch" type="nine-patch"></xs:element>
	<xs:element name="pattern" type="pattern"></xs:element>
	<xs:element name="button-group" type="button-group"></xs:element>

	<!-- Type definitions -->

	<xs:simpleType name="vector2">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-9]*[.])?[0-9]+%?)\s(([0-9]*[.])?[0-9]+%?)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="key-spline">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ease-in-out"></xs:enumeration>
			<xs:enumeration value="ease-out"></xs:enumeration>
			<xs:enumeration value="ease-in"></xs:enumeration>
			<xs:enumeration value="ease"></xs:enumeration>
			<xs:enumeration value="ease-sound"></xs:enumeration>
			<xs:enumeration value="linear"></xs:enumeration>
			<xs:enumeration value="jumpy"></xs:enumeration>
			<xs:enumeration value="ease-out-strong"></xs:enumeration>
			<xs:enumeration value="ease-in-strong"></xs:enumeration>
			<xs:enumeration value="linear-ease-out"></xs:enumeration>
			<xs:enumeration value="linear-ease-in-out"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="align">
		<xs:restriction base="xs:string">
			<xs:pattern value="(top|bottom|cent(re|er))\s(left|right|cent(re|er))"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="id-name">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-z][-a-z0-9]*)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="class-names">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-z][-a-z0-9]*[ ]?)+"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="pointer">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"></xs:enumeration>
			<xs:enumeration value="top-left"></xs:enumeration>
			<xs:enumeration value="bottom-left"></xs:enumeration>
			<xs:enumeration value="top-right"></xs:enumeration>
			<xs:enumeration value="bottom-right"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="menu-panel-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top-left"></xs:enumeration>
			<xs:enumeration value="top-right"></xs:enumeration>
			<xs:enumeration value="top-left-dark"></xs:enumeration>
			<xs:enumeration value="top-right-dark"></xs:enumeration>
			<xs:enumeration value="top-right-darker"></xs:enumeration>
			<xs:enumeration value="bottom-left"></xs:enumeration>
			<xs:enumeration value="bottom-left"></xs:enumeration>
			<xs:enumeration value="square"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="text-speed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="slowest"></xs:enumeration>
			<xs:enumeration value="slower"></xs:enumeration>
			<xs:enumeration value="slow"></xs:enumeration>
			<xs:enumeration value="normal"></xs:enumeration>
			<xs:enumeration value="fast"></xs:enumeration>
			<xs:enumeration value="faster"></xs:enumeration>
			<xs:enumeration value="fastest"></xs:enumeration>
			<xs:enumeration value="immediate"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="text-align">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"></xs:enumeration>
			<xs:enumeration value="right"></xs:enumeration>
			<xs:enumeration value="center"></xs:enumeration>
			<xs:enumeration value="centre"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="button-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="default"></xs:enumeration>
			<xs:enumeration value="equip"></xs:enumeration>
			<xs:enumeration value="group"></xs:enumeration>
			<xs:enumeration value="group-left"></xs:enumeration>
			<xs:enumeration value="group-right"></xs:enumeration>
			<xs:enumeration value="item"></xs:enumeration>
			<xs:enumeration value="option"></xs:enumeration>
			<xs:enumeration value="small"></xs:enumeration>
			<xs:enumeration value="start"></xs:enumeration>

			<xs:enumeration value="custom"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="pattern-repeat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"></xs:enumeration>
			<xs:enumeration value="repeat-x"></xs:enumeration>
			<xs:enumeration value="repeat-y"></xs:enumeration>
			<xs:enumeration value="repeat-x-or-y"></xs:enumeration>
			<xs:enumeration value="repeat-x-and-y"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="select-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="all"></xs:enumeration>
			<xs:enumeration value="vertical"></xs:enumeration>
			<xs:enumeration value="horizontal"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>